<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sp.rgdigitalsp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RG Digital SP</name>
    <description>RG Digital SP</description>
    <author email="sp@gmail.com" href="https://cordova.apache.org">
        Estado de São Paulo
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <icon src="resources/android/icon/icon.png"/>
    </platform>
</widget>
